@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

header {
    height: 60px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 1000px rgba(173 ,101 , 255, 0.5);
  }
  
  .dsmovie-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }
  
  .dsmovie-nav-content h1 {
    font-family: 'Poppins';
    font-size: 24px;
    margin: 0;
    font-weight: 700;
  }
  
  .dsmovie-contact-container {
    display: flex;
    align-items: center;
  }
  
  .dsmovie-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
  }