@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #6f06d1;
}

* {
    transition: 100ms;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #131313;
}

a, a:hover {
  transition: 400ms;
  text-decoration: none;
  color: unset;
}

a:hover {
  transition: 500ms;
  opacity: 0.8;
}
